 <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link  waves-effect waves-dark <%="active" if params[:controller] == ""%>" href="/profile/<%=current_user.id%>" aria-expanded="false"><i class="fa fa-user-o"></i><span class="hide-menu">Perfil</span></a>
                        </li> 
                        <li class="sidebar-item"> <a class="sidebar-link  waves-effect waves-dark <%="active" if params[:controller] == "posts"%>" href="/posts" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Feed</span></a>
                        </li>  
                           
                    </ul>
                </nav>
            </div>
        </aside>