 <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link  waves-effect waves-dark <%="active" if params[:controller] == "reports"%>" href="/reports" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu"><%=t('_reports')%></span></a>
                        </li> 
                    </ul>
                </nav>
            </div>
        </aside>